// breakpoints
$m: 600px;
$l: 900px;

$background: #E0EEEE;
$max-width: 1280px;

@mixin respond-min($width) {
	@media(min-width: $width) {
		@content;
	}
}

@mixin material-shadow {
	box-shadow: 0 0 10px #CCC;
}

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}

@mixin content {
	background: white;
	padding: 5px 10px;
}

section[role="main"].no-material {
	box-shadow: none;
	background: transparent;
	padding: 0;
}

.material-container {
	@include material-shadow;
	@include content;
}

img {
	border: 0;
}