// breakpoints
$s: 321px;
$m: 601px;
$l: 901px;

@mixin respond-min($width) {
	@media(min-width: $width) {
		@content;
	}
}

@mixin material-shadow {
	box-shadow: 0 0 10px #CCC;
}

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}

section[role="main"].no-material {
	box-shadow: none;
	background: transparent;
	padding: 0;
}

.material-container {
	@include material-shadow;
	background: white;
	padding: 5px 10px;
}

img {
	border: 0;
}