.footer {
	text-align: center;
	margin: 15px 0;
	
	* {
		display: inline-block;
		vertical-align: middle;
	}

	.footer__copyright {
		display: block;
		margin-bottom: 10px;

		@include respond-min($m) {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
	
}