.material-grid {
	&.material-grid--blog {
		.material-grid__item {
			@include respond-min($m) {
				height: 395px;
			}
		}
	}

	@include clearfix;
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 0;

	.material-grid__item-name {
		margin-top: 5px;

		@include respond-min($m) {
			margin-top: 20px;
		}
	}

	.material-grid__item {
		@include material-shadow;
		background: white;
		padding: 10px;
		margin: 10px 0;

		@include respond-min($m) {
			float: left;
			width: calc(50% - 10px);
			height: 320px;
			margin: 10px;

			&:first-child {
				margin-top: 10px;
			}

			&:nth-child(2n+1) {
				margin-left: 0;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@include respond-min($l) {
			width: calc(33.3% - 14px);
			height: 380px;

			html body section[role="main"] &:nth-child(2), // specificity lol
			&:nth-child(3n+5) {
				margin: 10px 20px;
			}

			&:nth-child(2n):not(:nth-child(3n+5)),
			&:nth-child(2n+1):not(:nth-child(3n+5)) {
				margin: 10px 0;
			}
		}
	}
}