.menu {
	@include material-shadow;
	margin-top: 0;
	margin-bottom: 10px;
	background: white;

	.menu__show {
		width: 100%;
		font-size: 1.3rem;
		border: 0;
		background: #00CDCD;
		cursor: pointer;
		color: white;

		&:hover {
			background: #00EEEE;
		}
	}

	.menu__items {
		display: none;
	}

	@include respond-min($m) {
		.menu__show {
			display: none;
		}

		.menu__items {
			display: table;
			list-style-type: none;
			width: 100%;
			padding: 0;
		}

		.menu__item {
			display: table-cell;
			width: 12.5%;
			text-align: center;
		}
	}

	/*margin: 0 auto;
	overflow: hidden;

	ul {
		list-style-type: none;

		li {
			float: left;
		}
	}*/
}