.menu {
	@include material-shadow;
	margin-top: 0;
	margin-bottom: 10px;
	position: relative;

	.menu__show {
		width: 100%;
		font-size: 1.3rem;
		border: 0;
		background: #006060;
		cursor: pointer;
		color: white;
		
		&:hover {
			background: #003232;
		}
	}

	.menu__items {
		@include material-shadow;
		width: 100%;
		position: absolute;
		background: white;
		list-style-type: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
		max-height: 0;
		-webkit-transition: max-height 500ms;
		transition: max-height 500ms;
	}

	.menu__items--active {
		max-height: 336px;
	}

	.menu__item {
		height: 42px;

		a {
			width: 100%;
			height: 100%;
			display: inline-block;
			line-height: 42px;
			padding-left: 10px;
		}
	}

	@include respond-min($m) {
		.menu__show {
			display: none;
		}

		.menu__items {
			display: table;
			table-layout: fixed;
			position: static;
			width: 100%;
			padding: 0;
		}

		.menu__item {
			padding: 0;
			display: table-cell;
			text-align: center;

			a {
				padding-left: 0;
			}
		}
	}
}