.repo-list {
	@include clearfix;
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	width: 100%;

	.repo-list__item {
		@include material-shadow;
		background: white;
		padding: 10px;
		margin: 10px 0;

		/* only show 5 items on mobile
		 * doing it here to keep everything
		 * in one place */
		display: none;
		&:first-child,
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			display: list-item;
		}

		@include respond-min($m) {
			display: list-item; // show all items again
			float: left;
			width: calc(50% - 10px);
			height: 260px;
			margin: 10px;

			&:first-child {
				margin-top: 10px;
			}

			&:nth-child(2n+1) {
				margin-left: 0;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@include respond-min($l) {
			width: calc(33.3% - 14px);
			height: 380px;

			html body section[role="main"] &:nth-child(2), // specificity lol
			&:nth-child(3n+5) {
				margin: 10px 20px;
			}

			&:nth-child(2n):not(:nth-child(3n+5)),
			&:nth-child(2n+1):not(:nth-child(3n+5)) {
				margin: 10px 0;
			}
		}
	}
}

.repo-list__github-link {
	@include material-shadow;
	background: white;
	display: block;
	margin: 0;
	padding: 0;

	a {
		padding: 10px;
		display: inline-block;
		width: 100%;
	}

	@include respond-min($m) {
		display: none;
	}
}
