@font-face {
	font-family: 'robotolight';
	src: url("/fonts/roboto-light-webfont.eot");
	src: url("/fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/roboto-light-webfont.woff2") format("woff2"),
		 url("/fonts/roboto-light-webfont.woff") format("woff"),
		 url("/fonts/roboto-light-webfont.ttf") format("truetype"),
		 url("/fonts/roboto-light-webfont.svg#robotolight") format("svg");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: "robotolight", sans-serif;
	background: #E0EEEE;

	padding: 0 2%;

	@include respond-min($l) {
		font-size: 1.1em;
	}
}


header {
	@include material-shadow;

	background: #008080;
	padding: 10px 20px;
	color: white;
	text-align: center;
	margin-bottom: 10px;
	margin-left: -5%;
	margin-right: -5%;

	h1 {
		margin-top: 0;
		margin-bottom: 20px;

		@include respond-min($m) {
			font-size: 5.5rem;
		}
		
		@include respond-min($l) {
			font-size: 9.5rem;
		}

		& a {
			color: white;
			text-decoration: none;
		}
	}

	p {
		@include respond-min($m) {
			font-size: 1.2rem;
		}

		@include respond-min($l) {
			font-size: 1.3rem;
		}
	}
}

section[role="main"] {
	@include material-shadow;
	padding: 10px;
	background: white;
}