@font-face {
	font-family: 'robotolight';
	src: url("/fonts/roboto-light-webfont.eot");
	src: url("/fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/roboto-light-webfont.woff2") format("woff2"),
		 url("/fonts/roboto-light-webfont.woff") format("woff"),
		 url("/fonts/roboto-light-webfont.ttf") format("truetype"),
		 url("/fonts/roboto-light-webfont.svg#robotolight") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roadstar';
	src: url("/fonts/ktf-roadstar-webfont.eot");
	src: url("/fonts/ktf-roadstar-webfont.eot?#iefix") format("embedded-opentype"),
		 url("/fonts/ktf-roadstar-webfont.woff2") format("woff2"),
		 url("/fonts/ktf-roadstar-webfont.woff") format("woff"),
		 url("/fonts/ktf-roadstar-webfont.ttf") format("truetype"),
		 url("/fonts/ktf-roadstar-webfont.svg#ktf-roadstarregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: 'robotolight', sans-serif;
	background: $background;

	padding: 0 2%;

	@include respond-min($m) {
		font-size: 1.08em;
	}

	@include respond-min($l) {
		font-size: 1.1em;
	}
}

header {
	@include material-shadow;

	background: #006060;
	padding: 10px 20px;
	color: white;
	text-align: center;
	margin-bottom: 15px;
	margin-left: -4.25%;
	margin-right: -4.25%;

	h1 {
		font-family: 'roadstar';
		text-transform: uppercase; // due to font family
		font-weight: lighter;
		font-style: normal;
		font-size: 3rem;

		margin-top: 0;
		margin-bottom: 20px;

		@include respond-min($m) {
			font-size: 4.9rem;
		}
		
		@include respond-min($l) {
			font-size: 8rem;
		}

		& a {
			color: white;
			text-decoration: none;
		}
	}

	p {
		@include respond-min($m) {
			font-size: 1.2rem;
		}

		@include respond-min($l) {
			font-size: 1.3rem;
		}
	}
}

section[role="main"] {
	@include material-shadow;
	padding: 10px;
	background: white;
}

.github-logo {
	width: 32px;
	height: 32px;
}

.html5-logo {
	height: 48px;
}