.skills-list {
	@include clearfix;
	list-style-type: none;
	margin: 0 -5px;
	padding: 0;
	width: 100%;

	@include respond-min($m) {
		margin: 0 -10px;
	}

	.skills-list__item {
		@include material-shadow;
		@include content;
		float: left;
		margin: 5px;

		@include respond-min($m) {
			margin: 10px;
		}
	}
}