$lineWeight: 3px;
$border: $lineWeight solid #303030;

.timeline {
	.timeline__year {
		display: none;
	}

	.timeline__year:first-child,
	.timeline__year:nth-child(2) {
		display: block;
	}

	.timeline__year-label {
		margin-top: 30px;
	}

	.timeline__items {
		list-style-type: none;
		padding: 0;
	}

	.timeline__item {
		@extend .material-container;
		margin-bottom: 10px;
		padding-bottom: 1em;
	}

	.timeline__item-title {
		margin-top: 1em;
	}

	.timeline__item-description {
		p:last-child {
			margin-bottom: 0;
		}
	}

	@include respond-min($m) {
		border-left: $border;
		padding-left: 20px;
		position: relative;

		&:before {
			content: "";
			background: $background;
			position: absolute;
			left: -$lineWeight;
			height: 0.7rem;
			width: $lineWeight;

			@include respond-min($l) {
				height: 0.8rem;
			}
		}

		.timeline__year {
			display: block;
			position: relative;


			&:before {
				content: "";
				position: absolute;
				border-top: $border;
				width: 15px;
				height: $lineWeight;
				left: -20px;
				top: 0.7rem;

				@include respond-min($l) {
					top: 0.8rem;
				}
			}
		}

		.timeline__item {
			margin-bottom: 20px;
		}
	}
}