{% extends 'layout/layout.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<h2>About Me</h2>

<p>I've spent most of my life using computers; my first machine was a Commodore CDTV at age 3, and after transitioning to Windows in 1997 my passion has continued to grow. In 2003, I wrote my first HTML page (albeit using horrible markup!)</p>

<p>Since 2012, upon completing my degree in Computer Science and French at University of Chester, I have been employed at Sky as a software developer, working on a number of internal and commercial projects. The majority of my experience lies within engineering the Xbox 360 and Windows 8.1 apps for NOW TV using C# and JavaScript respectively, but since October 2014 I have been developing for the Sky News website with Node.js and Express.</p>

<p>I really enjoy software development and I endevour to do the right thing in order to deliver a great result. I treat user experience, reliability, and maintainability as first-class citizens.</p>

<p>Outside of software development, I enjoy hanging out with my mates, playing my guitar, listening to music, and speaking French. I also cycle and swim when I can.</p>
{% endblock %}