{% extends 'layout/layout.html' %}

{% import 'macros/pagination.html' as pagination %}

{% block title %}Blog{% endblock %}
{% block mainClasses %}no-material{% endblock %}

{% block content %}
	<h2>Blog</h2>

	{{ page }} / {{ totalPages }}

	{% if page && totalPages %}
		{{ pagination.render(page, totalPages) }}
	{% endif %}

	{% for post in posts %}
		{% if loop.first %}<ul class="blog-posts">{% endif %}

		<li class="blog-posts__post">{{ post|safe }}</li>

		{% if loop.last %}</ul>{% endif %}
	{% endfor %}

	{% if page && totalPages %}
		{{ pagination.render(page, totalPages) }}
	{% endif %}
{% endblock %}