{% extends 'layout/layout.html' %}

{% block title %}Contact Me{% endblock %}

{% block content %}
<h2>Contact Me</h2>

<p>The easiest way to get in touch is via my email address: james -at- jamesswright.co.uk.</p>

<h3>On The Web</h3>
<ul>
	<li>Twitter: <a href="http://twitter.com/jamesseanwright">@jamesseanwright</a></li>
	<li><a href="https://github.com/jamesseanwright">GitHub</a></li>
	<li><a href="http://stackoverflow.com/users/1114123/james-wright">Stack Overflow</a></li>
</ul>

<h3>PGP Key</h3>

<pre class="pgp-key">——-BEGIN PGP PUBLIC KEY BLOCK——-
Version: GnuPG v2.0.20 (MingW32)

mQENBFIFU88BCAC3LajAcIquM0nn3D4Tw61kFB+AW5T7PCt3RPKHO9miao+I3BRl
ZR1qV7vwqijGu2l19trWnTytGW+CGZBrkwfPa4fbNAIryS8gT+SunHDRy7GbAbkY
g5khkbZbbUxq0MYC/JZZa0iBg9vDc3ceIyQ3jAyGWc8m/36R6O7kIxc18JvSHTQa
2M3z4rvs/EDCY8irAzHjeW8eh+WOUJSHKOXQ+qomJSmd6yb8/eG4xcuqiehNNYWL
l4IUg/oFxpidzC0v8FRsG0wOmIByguLGn2HZhHEIRB0wbLskG8WHKM6CmB7YT1y+
81JZ9NXfKDLBkEMeZzVIDZ8B8ELUOBeUfeOPABEBAAG0KEphbWVzIFdyaWdodCA8
amFtZXNzZWFud3JpZ2h0QGdtYWlsLmNvbT6JATkEEwECACMFAlIFU88CGwMHCwkI
BwMCAQYVCAIJCgsEFgIDAQIeAQIXgAAKCRCwpYjUivVWKXZxB/9jtWRn5MDA26xI
bZvZFAGmf0XheF07wbiye0xJrd3dF+fFFxn2/fy+YVh66croAQE7nE/+XMkA2yCZ
YUOPY2NDdV6+TQE2/FJfy6nOaiUjzb4M/eiACvLP5DENNzp0dzEcasX7m3qHwCzT
w8SWnK8o4y7FggVjRf+BodYJsW3ao3QRHM/CCvqWraTcB2IsnrAlmhHKTaC+Ltsk
r2DLXKAOrKAwn7GzULp0ZEv6R2SbbU/7uDxf1xcls0QQxY4XI2qQYzsHYfaaWY+f
yCkcme//7PtgpGols9vLAer5TsdEdDxqcFTzMqrs/TLXPB8q6cc10QjuGN8NP8uX
KOIbPXxRuQENBFIFU88BCADbq+Pd9+nBscm2yRpsU0QWoDjfyWgKpQh86TjbPMi7
KOTUgBtJTIJYtc1+jftuzihUWcS9HlFrBjWaoIetiSb1gh5UXO7qT04I3rhtuEFK
hMgqFAzZwTGfFTJlJoqxsFutK8bWOi6u5DHd6K8PBQ/4vWnw0KTjRRR2Fn093jbc
efsoivcvddXc+1M7+klotMkaeBVg75N9ijGcPwsMm9KtxpCoaysKIxOueAtp6HyE
1XI8/eOnqMJKLD3+4+rySfF2RNpXB0K0pLw+OJZ9zOCPfkUae+1MjhjuKCnmv1d6
XRt2XA4BT8JQGxZbIS8X/B19iJd8MS2/JnB0wXSoVnrHABEBAAGJAR8EGAECAAkF
AlIFU88CGwwACgkQsKWI1Ir1Vim4pwf/XxYPrkLy887G8EGRNPf8wgILPprMnDHB
6Rw2PhUOwnZHtTWPDgAaLXyI3QriEp8MIpa5IrdCqgTwkTiAeep+GL67EoX7q7nJ
0YRmPyopW8V5+/Th4El6Pr44/0qrxi0wdNYvaHlsRHmYa/sZHLdSklbtS2R+6AVF
5kbKzvP7+e9zRtJ5g1zxIFbH1VlDwb7g+MTp0OBol67eoBACwjqZqiW32g8fWhzb
+OVnUBuMYmR51kSGrhGwjwGeKC2PODjrNv0Cy7LXQX5+fIo5EhSfwGHHnoPUETSA
kfoYHHqMPt4E9DarWPkkuijmWu+UULQZZlsoF5WFQqJIV7bXJTaVtg==
=m8GM
——-END PGP PUBLIC KEY BLOCK——-</pre>
{% endblock %}