{% extends 'layout/layout.html' %}

{% block title %}Contact Me{% endblock %}

{% block content %}
<h2>Contact Me</h2>

<p>The easiest way to get in touch is via my email address: james -at- jamesswright.co.uk.</p>

<h3>On The Web</h3>
<ul>
	<li>Twitter: <a href="http://twitter.com/jamesseanwright">@jamesseanwright</a></li>
	<li><a href="https://github.com/jamesseanwright">GitHub</a></li>
	<li><a href="http://stackoverflow.com/users/1114123/james-wright">Stack Overflow</a></li>
</ul>

<h3>PGP Key</h3>

<pre class="pgp-key">-----BEGIN PGP PUBLIC KEY BLOCK-----
mQINBFfnzukBEADUKyysFz57yTKI27c8BXX6z/u4Xk99b2axbNY1PRv2QZoqAXwB
wPhrPd67tPvVwZefAZ71Klsf5P/kUv67UmfNSxBj/WhRaKRqyu2S+57d1aSdR23s
kcZsofjLJ3pGLeFTuaX9C2nDGKDmRuibGpCIQmzEJ37LrIiIXZ9JG0lKbDSC+TJU
DzROYARThHDwT2f+MJ8Gybkuzot9LAZCw2xncbn2vGA5rNGFh2ZHjpWBSL0lDPir
MRV8MgJHoF8Kte7f+wygR/ZkuWzCaKdN3CYKtq7Ax6EufQrq1oqn9bEoUrpYq1Ju
DmHIZpipTFUSCH6czB66ZtXwwD5f6KqdjNpWbJ2wH2/OpBqccqGGzZgF3xMhTa36
WDeU7n5fGI30RlXCsRJBypxlwaU0sSUsGcmLjsXE/SWKUdXZNirEyOOy3UxE6r0B
K0i10hi6D2wWIZsrsCmwQGKH1TP6wo4t++CEL2/v/NfylBVFZvK5m71X98ok2Mhs
paIhc2HVAUy6sSXJ8NWFBx1X7gd1pv6qxU0lf+iH0f4rz0Z7mdoW9J3c4BvlKBm+
aX86QjorOWnDVywFYHKKFusLHdKCZTMnqRbAW6Q1VfKhurjsrj8XV55UFREvX3sB
j+qeGINsvmjaiODb/nf8sczePYOuXSmc08WRDFO6hUCVmlt2UPfIbxqPTQARAQAB
tCdKYW1lcyBXcmlnaHQgPGphbWVzQGphbWVzc3dyaWdodC5jby51az6JAj0EEwEK
ACcFAlfnzukCGwMFCQeGH4AFCwkIBwMFFQoJCAsFFgIDAQACHgECF4AACgkQXc28
in5qc6BF5RAAqmYc+jGZfk7B6ri569rdyyodxv7uw0WvWqSJJLSshG4bBeTKnV9D
fFCTazq4a+VNa9j6/faRv1VCkiGxnHwVxCr4Yfq7gNdyXafF6vnUht5DQG/BuVev
uM8ie8PPIBEnZjPO1euD95tar6V/hwAZD+dbdoIZi6xMcVz+iGvMmi3ETqJiB9Wf
Ep2dS/CmY6rUKv80Fpj8rD7tVTEqXvhWAUtrcF5bALBMwiW4ReUEZkxtIgmfn2kg
8/pypDGbTFlk6ytTy28qZibmXymNJ1AlD51oJyrJ3kUyvs//Lsr1fapZnFh2xsYD
1xlLA3uCXx+26nGdTFMBwYWCTXvrA1L+yDM9RZPHquo/k0aDHEIrWW6gpT40boZb
/tcOr2L0+aXS78Pu+5ZT3PGSj/mgJwx6CBZ5t7sDAVuiu4m67KHgq2fUr3cbs7TG
Gx9FcPGJhRVGbd7HZ7FbncvKrxfh5i2mzvKIRmqGlFmUMOM4zxsAdPkBEeWOa93V
gflyA+R2cGpqQzDJ8x39eF/7aw037hoo4kLEOOHKjLlZxzJtC+DcA7pzaZSEZmZc
ZuljabUXZOtAz9v5p7CRBvjKUbM5KjFPo+lGXezBVNUI58vOAVIvcHVaZIZwCeo5
FaoRPOw+2UcTvheZLW1RFslGyz3ai7rRDkN3hs2PyfrdCf6lDB1EuB25Ag0EV+fO
6QEQAOkoCNTO8XFhm9X3UvceK+tG2sAVaAKRtD+6BCMym/RSE9/G1PzizqUif8A/
IWVX99elLw0s9Upamniao/bVurviEOaNig9GNOE2xZb9kqaOEZcjhO5Bs4cJBvuf
NHHq7NqYMfAPR5zchxCVZNHIJ/8KBNfvD3n1sJex7KgXaxsQqY7OiVG3Y0+1MhBL
/o+ucvDy2H1y2MbrBDYmgL8CXN2OHso4FXZsRacBiwzwRSCmBLlT39Kj8ns4Fr4k
6UfYzkLl6aRbva5Ex2rmGzc7NVuFeF28QI9vrUP0HDnlyFzpK69j+JY5m+O+kIZP
w0w5j1iue3PDbsIqAewU9qM3eQySDzyjRCIY1GItihTuudY6OCHb5wga7U74QZic
MF4gkSlE5ifizMmaXdY4oLXe6wl7yuc39ta3iG70GS2cKZOQi0qlU6YYj0MvIOh9
Eq6zjWbKhMrtLrmgXl0bYeH0C7dWmBhBiLAM9KgCoT6NY+/Ofxg2pHBbJn+v5NfM
7DzV7odg58RxbowL6XdCKnq51FAmOGZANfWnHBTYzaLMWqW/aPneRJnhiFY4pMjG
MY5xWg+3xnfcD76NgrW5rHE2ELQQXhQrZPwRcjOsVh1ZV+EaAxIK2FRWbVNJa4Rh
uFA+osbKrOlu6sb7F1/QyIghvZb7sS30fJSw47rSpF8GuxRxABEBAAGJAiUEGAEK
AA8FAlfnzukCGwwFCQeGH4AACgkQXc28in5qc6DnQRAAvIPtJsRx6GbllEOA7wS+
aOpEdvrG+UAMHmOSBeL0X63kL4h7AB/7rqH2Yh5aGTJDzddxt91idg40B7Vv5yD3
SPL9a9jglDTbeM0pxJWFj+B6ysjsP162nWYqoQllGq5tMyx2Xwi8UyDIGUTGIYH/
LLoctLAypc7rZvw8gsFteTylHwR1hBGclVO4yahJy0yjW4fqItIT+Rooq0JzgZUH
ADVwHsY1tqijUcPfEpVIVEmH8RCNGurZhtDBZJjoS2BDhYDPTQ5i4q1yYVcqqHtM
WgFi2WOnMwYHXKyKnobunsP4MMdqfgM7ePieoGdorEnYYaSdnJPFHfXR1kFkkHWl
WyOqtGjHZwBw5xcWVSKXZpPSFzOyr5TfJHHlTfL9b4D9Bal8VZoO7zqDO0wAn8NW
1s6H2KA8iG6sAFqspNw5mPpZxq8d1Ayh8COLzx18M+IcgT7LoPfE5QHWGnaAQ7Kh
VlFVhA/wpWytOdWX+T11qVIk8HMA4srYARql3UZ3V+Qvm7bdtoCaFb2nQFywmBc4
8lM/Q2dQRjC/JfViEftYJs4Dv50fCztAA22YLrHy3s37Gc+FhPv30oQqrIRwJSl7
JQ2JpRHEAbTkxBNofBncAwwZhL3/zUOjmTsCcRjawUnYxNnxVH39rndFbxaHL0aN
uNvhhUVBdegp+z6ZFy51MaQ=
=QRNU
-----END PGP PUBLIC KEY BLOCK-----
</pre>
{% endblock %}