{% extends 'layout/layout.html' %}

{% block title %}Experience{% endblock %}
{% block mainClasses %}no-material{% endblock %}

{% block content %}
<div class="material-container">
	<h2>Experience</h2>
</div>

<article class="timeline">
	<section class="timeline__year">
		<h3 class="timeline__year-label">Present</h3>
		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Break</h4>
				<p>November 2017 - Present</p>

				<div class="timeline__item-description">
					<p>Focusing on my self-learning and open-source projects before leaving London in December and travelling Asia from January.</p>
				</div>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">Contributor</h4>
				<p><a href="https://sitepoint.com">SitePoint</a></p>
				<p>August 2016 - Present</p>

				<div class="timeline__item-description">
					<p>Producing and editing an online video course covering the Web Audio API, as well as writing tutorials on various subjects, including Web Audio and Test-Driven Development using JavaScript.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2017</h3>
		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Senior Software Developer (Contract)</h4>
				<p>Trainline (via <a href="https://yld.io">YLD</a>)</p>
				<p>April 2017 - November 2017</p>

				<div class="timeline__item-description">
					<p>Contributing to a number of projects and libraries with React, Redux, Node.js, RxJS, and TypeScript. I have implemented frontend and backend logic for a number of features, particularly those concerning authentication and user registration.</p>
					<p>The main desktop codebase is presented as a monorepo. As a result of a large number of contributors, we run guilds to ensure that all teams are aware of any major and potentially breaking changes; I am responsible for the Node.js branch, which covers updates to our backend-for-frontend endpoints and general server-side functionality.</p>
					<p>I have also worked with the frontend architect and leads to establish cross-team technical meetings.</p>
				</div>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">Senior Software Developer (Contract)</h4>
				<p>Channel 4</p>
				<p>January 2017 - April 2017</p>

				<div class="timeline__item-description">
					<p>Developing features and apps for the Channel 4 web team using JavaScript, Node.js, React, and Redux. The website is powered by a series of Node.js services which proxy an OAuth 2.0-protected API and render a basic skeleton page; application logic is typically bootstrapped on the client-side. Said website is accessible and marked up with valid and semantic HTML5.</p>
					<p>This was a brilliant team and the technical standards were very high, but I had to leave due to Channel 4's decision to outsource its software development projects.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2016</h3>
		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Software Developer</h4>
				<p><a href="https://www.net-a-porter.com/">NET-A-PORTER</a></p>
				<p>July 2015 - December 2016</p>

				<div class="timeline__item-description">
					<p>Developing web apps for the In-Season Product Team, using React, Sass, ECMAScript 6, and Node.js.</p>

					<p>The main goal is to decommission the existing legacy Java solution by moving frontend logic to decoupled microservices. These are deployed to Amazon Web Services for fast, automated scaling during periods of heavy traffic. I have written open source npm modules for logic that can be reused throughout the company and the wider software engineering community, some of which are published via an automated continuous delivery pipeline running on CircleCI. I am also the SEO champion for the overarching In-Season Technology team, responsible for researching the latest best practises and pushing for improvement in this area, as well as liaising with our internal SEO team.</p>

					<p>Additionally, I mentored the junior developers in our team.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2015</h3>
		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Software Developer - Sky News</h4>
				<p>Sky</p>
				<p>October 2014 - July 2015</p>

				<div class="timeline__item-description">
					<p>Maintaining and developing features for the responsive and accessible Sky News website using Node.js. The traffic-heavy website takes advantage of load balancing and caching to ensure 100% uptime. Test-driven development has been used within this position, and pair programming is commonplace.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2014</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Software Developer - NOW TV</h4>
				<p>Sky</p>
				<p>July 2014 - October 2014</p>

				<div class="timeline__item-description">
					<p>Continuing my work in the Microsoft team, undertaking WinJS (HTML5 and JavaScript) development for NOW TV's Windows 8.1 app. Other technologies used include Sass, Grunt, and Git.</p>

					<p>Within this role I have developed and documented a UI automation test suite for our app using Selenium WebDriver, SpecFlow (a .NET port of Cucumber), and a custom fork of RainbowDriver, a Selenium JSON Wire protocol implementation written in JavaScript and Node.js.</p>
				</div>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">Associate Software Developer</h4>
				<p>Sky</p>
				<p>July 2012 - July 2014</p>

				<div class="timeline__item-description">
					<p>Developing software using Agile methodologies such as Scrum and Extreme Programming (XP). Test-Driven Development (TDD) has been prominent within this role and a variety of technologies and frameworks has been used.</p>

					<p>For the most part, I was an app developer in NOW TV's Microsoft development team with a focus on the Xbox 360 client. The application is developed in C# using the Xbox Application Development Kit (ADK/Lakeview), a framework based upon Silverlight.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2012</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">BA (Hons) Computer Science and French, 2.1</h4>
				<p>University of Chester</p>
				<p>2008 - 2012</p>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">Freelance Web and Software Developer</h4>
				<p>Self-employed</p>
				<p>July 2011 - August 2012</p>

				<div class="timeline__item-description">
					<p>Designing, implementing, and testing websites and software, such as Content Management Systems, around clients' requirements.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2011</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Online English Tutor</h4>
				<p>Educastream</p>
				<p>May 2011 - September 2011</p>

				<div class="timeline__item-description">
					<p>Teaching English to French children, teenagers, and adults via video conferencing. Lessons were prepared by the company, including a script relating to the presentation shown on screen. Adult students were also permitted to provide their own materials, such as newspaper articles, for linguistic analysis and discussion.</p>
				</div>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">English Teaching Assistant</h4>
				<p>Collège Molière (L'Aigle, France)</p>
				<p>October 2010 - April 2011</p>

				<div class="timeline__item-description">
					<p>Teaching English to French secondary school students, aged 11-15. Usually, groups of up to 14 pupils were taught for 30-minute sessions surrounding various subjects of cultural and linguistic interest.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2010</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Junior Web Developer (Work-Based Learning placement)</h4>
				<p>rECOrd LRC</p>
				<p>May 2010- June 2010</p>

				<div class="timeline__item-description">
					<p>Utilising ASP.NET, C#, and MS SQL, results returned by the organisation's search engine were limited to user-specific locations, defined in coordinates by administration via a content management system.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2008</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">A-Levels: ICT, French, and Music Technology</h4>
				<p>Baines Sixth Form</p>
				<p>2006 - 2008</p>
			</li>
		</ul>
	</section>
</article>
{% endblock %}