{% extends 'layout/layout.html' %}

{% block title %}Experience{% endblock %}
{% block mainClasses %}no-material{% endblock %}

{% block content %}
<div class="material-container">
	<h2>Experience</h2>
</div>

<article class="timeline">
	<section class="timeline__year">
		<h3 class="timeline__year-label">Present</h3>
		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Software Developer - Sky News</h4>
				<p>Sky plc</p>
				<p>October 2014 - Present</p>

				<div class="timeline__item-description">
					<p>Maintaining and developing features for the responsive and accessible Sky News website using Node.js. The traffic-heavy website takes advantage of load balancing and caching to ensure 100% uptime. Test-driven development has been used within this position, and pair programming is commonplace.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2014</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Software Developer - NOW TV</h4>
				<p>Sky plc</p>
				<p>July 2014 - October 2014</p>

				<div class="timeline__item-description">
					<p>Continuing my work in the Microsoft team, undertaking WinJS (HTML5 and JavaScript) development for NOW TV's Windows 8.1 app. Other technologies used include Sass, Grunt, and Git.</p>

					<p>Within this role I have developed and documented a UI automation test suite for our app using Selenium WebDriver, SpecFlow (a .NET port of Cucumber), and a custom fork of RainbowDriver, a Selenium JSON Wire protocol implementation written in JavaScript and Node.js.</p>
				</div>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">Associate Software Developer</h4>
				<p>Sky plc</p>
				<p>July 2012 - July 2014</p>

				<div class="timeline__item-description">
					<p>Developing software using Agile methodologies such as Scrum and Extreme Programming (XP). Test-Driven Development (TDD) has been prominent within this role and a variety of technologies and frameworks has been used.</p>

					<p>For the most part, I was an app developer in NOW TV's Microsoft development team with a focus on the Xbox 360 client. The application is developed in C# using the Xbox Application Development Kit (ADK/Lakeview), a framework based upon Silverlight.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2012</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">BA (Hons) Computer Science and French, 2.1</h4>
				<p>University of Chester</p>
				<p>2008 - 2012</p>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">Freelance Web and Software Developer</h4>
				<p>Self-employed</p>
				<p>July 2011 - August 2012</p>

				<div class="timeline__item-description">
					<p>Designing, implementing, and testing websites and software, such as Content Management Systems, around clients' requirements.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2011</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Online English Tutor</h4>
				<p>Educastream</p>
				<p>May 2011 - September 2011</p>

				<div class="timeline__item-description">
					<p>Teaching English to French children, teenagers, and adults via video conferencing. Lessons were prepared by the company, including a script relating to the presentation shown on screen. Adult students were also permitted to provide their own materials, such as newspaper articles, for linguistic analysis and discussion.</p>
				</div>
			</li>

			<li class="timeline__item">
				<h4 class="timeline__item-title">English Teaching Assistant</h4>
				<p>Collège Molière (L'Aigle, France)</p>
				<p>October 2010 - April 2011</p>

				<div class="timeline__item-description">
					<p>Teaching English to French secondary school students, aged 11-15. Usually, groups of up to 14 pupils were taught for 30-minute sessions surrounding various subjects of cultural and linguistic interest.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2010</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">Junior Web Developer (Work-Based Learning placement)</h4>
				<p>rECOrd LRC</p>
				<p>May 2010- June 2010</p>

				<div class="timeline__item-description">
					<p>Utilising ASP.NET, C#, and MS SQL, results returned by the organisation's search engine were limited to user-specific locations, defined in coordinates by administration via a content management system.</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="timeline__year">
		<h3 class="timeline__year-label">2008</h3>

		<ul class="timeline__items">
			<li class="timeline__item">
				<h4 class="timeline__item-title">A-Levels: ICT, French, and Music Technology</h4>
				<p>Baines Sixth Form</p>
				<p>2006 - 2008</p>
			</li>
		</ul>
	</section>

	<p class="timeline__external-link"><a href="https://linkedin.com/in/jamesswrightweb">Full CV on LinkedIn</a></p>
</article>
{% endblock %}