{% extends 'layout/layout.html' %}

{% block title %}Experience{% endblock %}

{% block content %}
<h2>Employment history</h2>

<table>
	<tr>
		<th>Company</th>
		<th>Role</th>
		<th>Dates Employed</th>
		<th>Description</th>
	</tr>

	<tr>
		<td>Sky</td>
		<td>Software Developer - Sky News</td>
		<td>October 2014 - Present</td>
		<td>Maintaining and developing features for the responsive and accessible Sky News website using Node.js. The traffic-heavy website takes advantage of load balancing and caching to ensure 100% uptime. Test-driven development has been used within this position, and pair programming is commonplace.</td>
	</tr>

	<tr>
		<td>Sky</td>
		<td>Software Developer - NOW TV</td>
		<td>July 2014 - October 2014</td>
		<td>
			<p>Continuing my work in the Microsoft team, undertaking WinJS (HTML5 and JavaScript) development for NOW TV's Windows 8.1 app. Other technologies used include Sass, Grunt, and Git.</p>

			<p>Within this role I have developed and documented a UI automation test suite for our app using Selenium WebDriver, SpecFlow (a .NET port of Cucumber), and a custom fork of RainbowDriver, a Selenium JSON Wire protocol implementation written in JavaScript and Node.js.</p>
		</td>
	</tr>

	<tr>
		<td>Sky</td>
		<td>Associate Software Developer</td>
		<td>July 2012 - July 2014</td>
		<td>
			<p>Developing software using Agile methodologies such as Scrum and Extreme Programming (XP). Test-Driven Development (TDD) has been prominent within this role and a variety of technologies and frameworks have been used.</p>

			<p>Since January 2013, I have been in NOW TV's Microsoft development team with a focus on the Xbox 360 client. The application is developed in C# using the Xbox Application Development Kit (ADK/Lakeview), a framework based upon Silverlight. Responsibilities extend to communicating with various scrums and non-technical teams and liaising with Microsoft during the app's submission, certification, and release.</p>

			<p>I have assisted with Sky's software engineering graduate scheme, having partaken in speed meetings with potential applicants, marking unattended coding tests and rating candidates on technical ability during assessment days.</p>
		</td>
	</tr>

	<tr>
		<td>Self-employed</td>
		<td>Freelance Web and Software Developer</td>
		<td>July 2011 - August 2012</td>
		<td>
			Designing, implementing, and testing websites and software, such as Content Management Systems, around clients' requirements.
		</td>
	</tr>

	<tr>
		<td>Educastream</td>
		<td>Online English Tutor</td>
		<td>May 2011 - September 2011</td>
		<td>
			Teaching English to French children, teenagers, and adults via video conferencing. Lessons were prepared by the company, including a script relating to the presentation shown on screen. Adult students were also permitted to provide their own materials, such as newspaper articles, for linguistic analysis and discussion.
		</td>
	</tr>

	<tr>
		<td>Collège Molière (L'Aigle, France)</td>
		<td>English Teaching Assistant</td>
		<td>October 2010 - April 2011</td>
		<td>
			Teaching English to French secondary school students, aged 11-15. Usually, groups of up to 14 pupils were taught for 30-minute sessions surrounding various subjects of cultural and linguistic interest.
		</td>
	</tr>
</table>

<h2>Education</h2>

<table>
	<tr>
		<th>Institution</th>
		<th>Qualification</th>
		<th>Class year</th>
	</tr>

	<tr>
		<td>University of Chester</td>
		<td>BA (Hons) Computer Science and French, 2.1</td>
		<td>2012</td>
	</tr>

	<tr>
		<td>Baines Sixth Form</td>
		<td>A Levels, IT, French, and Music Technology</td>
		<td>2012</td>
	</tr>
</table>
{% endblock %}