{% extends 'layout/layout.html' %}

{% block content %}
<h1>Welcome</h1>

<p>I'm James, a software developer who works at Sky. Currently, I'm working on the responsive Sky News website, but most of my experience thus far resides in Xbox 360 and Windows 8.1 app development for NOW TV.</p>

<p>This website details my experience, skillset, and my open source projects, as well as hosting my blog. Feel free to get in touch if you have any questions or just want to say hi. :)</p>

<p>Thanks for visiting!</p>
{% endblock %}