{% extends 'layout/layout.html' %}

{% block content %}
<h2>Welcome</h2>

<p>I'm James, a software developer who is employed at Sky. Currently, I'm developing features for the responsive and accessible Sky News website, and I have also worked on the Xbox 360 and Windows 8.1 apps for NOW TV.</p>

<p>This website details my experience, skillset, and my open source projects, as well as hosting my blog. Feel free to get in touch if you have any questions or just want to say hi. :)</p>

<p>Thanks for visiting!</p>
{% endblock %}