{% import 'macros/repo-list.html' as repoList %}

{% extends 'layout/layout.html' %}

{% block title %}Projects{% endblock %}
{% block mainClasses %}no-material{% endblock %}

{% block content %}

<div class="material-container">
	<h2>Projects</h2>
	<div class="strapline">
		<p>Powered by <a href="https://github.com"><img src="/images/github.png" class="github-logo" alt="GitHub logo" /></a></p>
	</div>
</div>

<h3>Personal Projects</h3>
{{
	repoList.render(repos)
}}

<h3>Open-Source Contributions and Forks</h3>
{{
	repoList.render(forks)
}}

{% endblock %}