{% extends 'layout/layout.html' %}

{% block title %}Skills{% endblock %}
{% block mainClasses %}no-material{% endblock %}

{% block content %}
<div class="material-container">
	<h2>Skills</h2>

	<p>I have encountered and used various languages and technologies thus far in my career.</p>
</div>

<h3>My Main Skillset</h3>
<ul class="skills-list">
	<li class="skills-list__item">C#</li>
	<li class="skills-list__item">.NET</li>
	<li class="skills-list__item">JavaScript</li>
	<li class="skills-list__item">HTML5</li>
	<li class="skills-list__item">CSS3</li>
</ul>

<h3>App and Desktop Development</h3>
<ul class="skills-list">
	<li class="skills-list__item">Xbox 360 <abbr title="Application Development Kit">ADK</abbr> (Silverlight)</li>
	<li class="skills-list__item">Windows Phone 7 (Silverlight)</li>
	<li class="skills-list__item">Windows 8.1 Store apps (C# and JavaScript)</li>
	<li class="skills-list__item">Windows Phone 8.1 apps (C# and JavaScript)</li>
	<li class="skills-list__item">Windows Presentation Foundation</li>
	<li class="skills-list__item">Knockout</li>
	<li class="skills-list__item">Angular</li>
	<li class="skills-list__item">Node-Webkit</li>
</ul>

<h3>Web Development</h3>
<ul class="skills-list">
	<li class="skills-list__item">Node.js</li>
	<li class="skills-list__item"><abbr title="Active Server Pages">ASP</abbr>.NET MVC/vNext</li>
	<li class="skills-list__item">Spring MVC</li>
	<li class="skills-list__item">Sass</li>
	<li class="skills-list__item">Grunt</li>
	<li class="skills-list__item">Responsive design</li>
</ul>

<h3>Testing</h3>
<ul class="skills-list">
	<li class="skills-list__item">Test-Driven Development</li>
	<li class="skills-list__item">MSTest</li>
	<li class="skills-list__item">NUnit</li>
	<li class="skills-list__item">Rhino Mocks</li>
	<li class="skills-list__item">Mocha</li>
	<li class="skills-list__item">Should.js</li>
	<li class="skills-list__item">Chai</li>
	<li class="skills-list__item">Sinon</li>
	<li class="skills-list__item">Selenium WebDriver</li>
	<li class="skills-list__item">PhantomJS</li>
</ul>

<h3>Source Control</h3>
<ul class="skills-list">
	<li class="skills-list__item">Git</li>
	<li class="skills-list__item">SVN</li>
	<li class="skills-list__item">Feature branching</li>
</ul>

<h3>Cool Things I'm Learning</h3>
<ul class="skills-list">
	<li class="skills-list__item">Accessibility</li>
	<li class="skills-list__item">Go</li>
	<li class="skills-list__item">Android ADT</li>
</ul>

<h3>Operating Systems</h3>
<ul class="skills-list">
	<li class="skills-list__item">Windows (95 - 8.1)</li>
	<li class="skills-list__item">Ubuntu Linux</li>
	<li class="skills-list__item">OS X</li>
</ul>
{% endblock %}