{% extends 'layout/layout.html' %}

{% block title %}Skills{% endblock %}

{% block content %}
<h2>Skills</h2>

<p>I have encountered and used various languages and technologies thus far in my career.</p>

<h2>My main skillset</h2>
<ul>
	<li>C#</li>
	<li>.NET</li>
	<li>HTML5</li>
	<li>JavaScript</li>
	<li>CSS3</li>
</ul>

<h2>App Development</h2>
<ul>
	<li>Xbox 360 ADK/Windows Phone 7 (Silverlight)</li>
	<li>Windows 8.1/Windows Phone 8.1 apps (WinRT and WinJS)</li>
	<li>Knockout</li>
	<li>Angular</li>
</ul>

<h2>Web Development</h2>
<ul>
	<li>Node.js</li>
	<li>ASP.NET MVC/vNext</li>
	<li>Spring MVC</li>
	<li>Sass</li>
	<li>Grunt</li>
	<li>Responsive design</li>
</ul>

<h2>Testing</h2>
<ul>
	<li>Test-Driven Development</li>
	<li>MSTest</li>
	<li>NUnit</li>
	<li>Rhino Mocks</li>
	<li>Mocha</li>
	<li>Should.js</li>
	<li>Chai</li>
	<li>Sinon</li>
	<li>Selenium WebDriver</li>
	<li>PhantomJS</li>
</ul>

<h2>Source Control</h2>
<ul>
	<li>Git</li>
	<li>SVN</li>
	<li>Feature branching</li>
</ul>

<h2>Cool things I'm attempting to master</h2>
<ul>
	<li>Accessibility</li>
	<li>Go</li>
	<li>Android ADT</li>
</ul>

<h2>Operating Systems</h2>
<ul>
	<li>Windows (95 - 8.1)</li>
	<li>Ubuntu Linux</li>
	<li>OS X</li>
</ul>
{% endblock %}