<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>James Wright - {% block title %}Software Developer{% endblock %}</title>
		<link rel="stylesheet" href="stylesheets/main.min.css" />
		<script src="/javascripts/main.min.js"></script>
	</head>
	<body>
		<!--[if lte IE 9]>
			<div class="no-ie">
				<h2>No.</h2>
				<p>I may be a Microsoft fanboy, but I'm not willing to make this site compatible with older versions of IE. Either upgrade to IE 10/11 or use a decent browser such as Chrome.</p>
			</div>
		<![endif]-->
		<header>
			<h1>James Wright</h1>
			<p>An English techie and software developer who particularly loves C# and JavaScript</p>
		</header>

		<nav role="navigation" class="menu">
			<button class="menu__show" aria-hidden="true">Menu</button>

			<ul class="menu__items">
				<li class="menu__item"><a href="/">Home</a></li>
				<li class="menu__item"><a href="/about-me">About Me</a></li>
				<li class="menu__item"><a href="/skills">Skills</a></li>
				<li class="menu__item"><a href="/projects">Projects</a></li>
				<li class="menu__item"><a href="/experience">Experience</a></li>
				<li class="menu__item"><a href="/blog">Blog</a></li>
				<li class="menu__item"><a href="/contact-me">Contact</a></li>
			</ul>
		</nav>

		<section role="main" class="{% block mainClasses %}{% endblock %}">
			{% block content %}{% endblock %}
		</section>

		<footer class="footer">
			<span class="footer__copyright">&copy; {{ currentYear() }} James Wright</span>
			
			<a href="https://travis-ci.org/jamesseanwright/jamesswright.co.uk"><img src="https://api.travis-ci.org/jamesseanwright/jamesswright.co.uk.svg" alt="Build status" /></a>

			<a href="https://github.com/jamesseanwright/jamesswright.co.uk"><img src="/images/github.png" class="github-logo" alt="GitHub repository for this site" /></a>

			<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fjameswright.eu01.aws.af.cm&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0"><img src="/images/html5.png" class="html5-logo" alt="Valid HTML5" /></a>
		</footer>
	</body>
</html>