{% macro render(repos, options) %}
	{% for repo in repos %}
		{% if loop.first %}
			<ul class="material-grid">
		{% endif %}
			<li class="material-grid__item">
				<h4 class="material-grid__item-name">{{ repo.name }}</h4>

				<p aria-label="Written in {{ repo.language }}">{{ repo.language }}</p>
				<p>{{ repo.description }}</p>
				<a href="{{ repo.url }}">Go to project</a>
			</li>
		{% if loop.last %}</ul>{% endif %}
	{% endfor %}

	<a class="material-grid__more-link" href="https://github.com/jamesseanwright">More projects at GitHub</a>
{% endmacro %}