{% macro render(repos) %}
	{% for repo in repos %}
		{% if loop.first %}
			<ul class="repo-list">
		{% endif %}
			<li class="repo-list__item">
				<h4 class="repo-list__item-name">{{ repo.name }}</h4>
				<p aria-label="Written in {{ repo.language }}">{{ repo.language }}</p>
				<p>{{ repo.description }}</p>
				<a href="{{ repo.url }}">Go to project</a>
			</li>
		{% if loop.last %}</ul>{% endif %}
	{% endfor %}

	<a class="repo-list__more-link" href="https://github.com/jamesseanwright">More projects at GitHub</a>
{% endmacro %}